body{
    background-color: black;
}

*{
    color: antiquewhite;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

.accordion{

    background-color: rgb(82, 82, 82);

    &__element{
        border: 2px solid grey;
        padding: 20px;
        cursor: pointer;

        &.active{

            .accordion__conntent{
                grid-template-rows: 1fr;
            }
        }
    }

    &__conntent{
        display: grid;
        grid-template-rows: 0fr;
        transition: grid-template-rows 500ms;
    }

    &__wrapper{
        overflow: hidden;
    }

}